<!-- fairs/templates/fairs/fair_list.html -->

{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>Fairs</h1>
    <form action='actionUrl' method='GET'>
        <button class='btn btn-primary' data-toggle='button' type='submit'>Add a new Fair</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
    </form>

    {% for fair in fair_list %}
    <div class="container mt-3" style="width: 600px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ fair.fair_name }}</h4>
                <p class="card-text">
                    Date created: {{ fair.date_created|date:'Y-m-d H:i' }}
                </p>
                <a href="{% url 'fair:fair-detail' fair.id %}" class="card-link">
                    View and edit Fair Detail
                </a>
            </div>
        </div>
    </div>
    {% empty %}
        <div class="alert alert-info" role="alert">There are no fairs active yet.</div>
    {% endfor %}
</div>
{% endblock %}
