<!-- payment/templates/discount_list.html -->

{% extends 'base.html' %}
{% load paginator_tags %}

{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <h1>Discounts</h1>
  <div class="row g-3">
      <div class="col-md-6">
          {% include 'search/partials/search_stallholders_discount.html' %}
      </div>
      <form>
          <a href="?clear_filters=true" class="btn btn-warning">Reset Filters</a>
          <a href="javascript:history.go(-1)" class="btn btn-secondary">Cancel</a>
      </form>
      <hr>
  </div>
  <div class="row g-3">
      <div class="col-md-12">
          {% include 'discount_list_partial.html' %}
      </div>
  </div>
</div>
{% endblock %}
