<!--templates/invoice.html -->
<!DOCTYPE html>

{% load static %}
{% load adddaystodate_tag %}
{% load hasdiscount_tag %}
{% load haspaidcredit_tag %}
{% load custom_filters %}

{% block body %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Martinborough Fair Invoice</title>
    <link rel="stylesheet" href="{% static 'css/invoice.css' %}" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="{% static 'img/swrotary-mf-logo-lockup.png' %}">
      </div>
      <h1>TAX INVOICE {{ invoice.invoice_number }} - {{ invoice.invoice_sequence }}</h1>
      <div id="company" class="clearfix">
        <div>Rotary Martinborough Fair</div>
        <div>PO Box 45,<br />Greytown, 5742</div>
        <div>GST Number - 65-896-389 </div>
        <div><a href="mailto:convener@martinboroughfair.org.nz">convener@martinboroughfair.org.nz</a></div>
      </div>
      <div id="project">
        <div><span>ORG</span >{{ profile.org_name }}</div>
        <div><span>CLIENT</span> {{ profile.user }}</div>
        <div><span>ADDRESS</span> {{ profile.address1 }}</div>
        <div><span>.......</span> {{ profile.address2 }}</div>
        <div><span>CITY</span> {{ profile.town }}, {{ profile.postcode }}</div>
        <div><span>EMAIL</span>
          <a href="mailto:{{ invoice.stallholder.email }}">{{ invoice.stallholder.email }}</a></div>
        <div><span>DATE</span> {{ invoice.date_created|date:"d M Y" }}</div>
        <div><span>DUE DATE</span> {% plus_days invoice.date_created 20 %}</div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="service">ITEM</th>
            <th>QTY</th>
            <th>COST</th>
          </tr>
        </thead>
        {% for item in invoice_items %}
        <tbody>
          <tr>
            <td class="service">{{ item.inventory_item.item_name }}</td>
            <td class="qty">{{ item.item_quantity }}</td>
            <td class="unit">${{ item.item_cost }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% get_has_discount invoice.stall_registration.id as discount_item_result %}
      {% if discount_item_result %}
      <table>
        <tbody>
        <tr>
          <td class="unit">Less Discount</td>
          <td class="unit">${{ total_discount }}</td>
        </tr>
        </tbody>
      </table>
      {% endif %}
        <tbody>PaymentHistory.paymenthistorycurrentmgr.get_credit_amount(184)
          <tr>
            <td colspan="4" class="grand total">Total Cost (INCL)</td>
            <td class="grand total">${{ invoice.total_cost }}</td>
          </tr>
          <tr>
            <td colspan="4">Invoice includes GST amount of:</td>
            <td class="total">${{ invoice.gst_component }}</td>
          </tr>
        </tbody>
      </table>
      {% if total_payments > 0 %}
      <table>
        <tbody>
        <tr>
          <td colspan="4" class="unit">Less Payments to date</td>
          <td class="unit">${{ total_payments }}</td>
        </tr>
        </tbody>
      </table>
      {% endif %}
      {% get_has_credit invoice.id as credit_item_result %}
      {% if credit_item_result %}
      <table>
        <tbody>
        <tr>
          <td class="unit">Credit Amount Refunded</td>
          <td class="unit">${{ total_credits }}</td>
        </tr>
        </tbody>
      </table>
      <table>
      {% endif %}
      {% if amount_to_pay < 0 %}
        <table>
          <tbody>
            <tr>
              <td colspan="4" class="grand total">Account in credit</td>
              <td class="grand total">(${{ amount_to_pay|abs }})</td>
            </tr>
          </tbody>
        </table>
      {% else %}
        <table>
          <tbody>
            <tr>
              <td colspan="4" class="grand total">Amount to pay</td>
              <td class="grand total">${{ amount_to_pay }}</td>
            </tr>
          </tbody>
        </table>
      {% endif %}
      <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
      </div>
    </main>
  </body>
</html>
{% endblock %}
