<!-- payment/templates/paymenthistory_list_partial.html -->

{% load static %}
{% load paginator_tags %}
{% load haspaymenthistories_tag %}


<!-- payment/message_snippet.html -->
<div class="alert alert-{{ status }}">
    {{ message }}
</div>


<!-- Payment history table and other elements... -->
<div id="payment_history_data">
    <div>
        {% get_has_paymenthistories payment_status as has_paymenthistories %}
        {% if has_paymenthistories %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Registration ID</th>
                    <th scope="col">Amount Paid</th>
                    <th scope="col">Amount to Pay</th>
                    <th scope="col">Stripe Amount</th>
                    <th scope="col">Amount Reconciled</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Updated Date</th>
                    <th scope="col-sm"></th>
                    <th scope="col-sm"></th>
                    <th scope="col-sm"></th>
                </tr>
                </thead>
                <tbody>
                {% for paymenthistory in page_obj %}
                <tr>
                    <td>{{ paymenthistory.payment_status }}</td>
                    <td>{{ paymenthistory.invoice.stall_registration.id }}</td>
                    <td>{{ paymenthistory.amount_paid }}</td>
                    <td>{{ paymenthistory.amount_to_pay }}</td>
                    <td>{{ paymenthistory.webhook_amount }}</td>
                    <td>{{ paymenthistory.amount_reconciled }}</td>
                    <td>{{ paymenthistory.date_created }}</td>
                    <td>{{ paymenthistory.date_updated | default_if_none:"" }}</td>
                    <td><a class = "btn btn-success btn-small" data-bs-toggle="tooltip" data-bs-placement="top"
                           title="Change status to Cancelled" hx-post= "{% url 'payment:mark-as-cancelled' paymenthistory.id %}" hx-trigger="click"
                           hx-target="#payment_history_data" hx-swap="outerHTML"><i class="bi bi-x-square-fill"></i></a></td>
                    <td><a class = "btn btn-danger btn-small" data-bs-toggle="tooltip" data-bs-placement="top"
                           title="Change status to Reconciled" hx-post= "{% url 'payment:mark-as-reconciled' paymenthistory.id %}" hx-trigger="click"
                           hx-target="#payment_history_data" hx-swap="outerHTML"><i class="bi bi-check-square"></i></a></td>
                    <!-- Update Payment History Button -->
                    <td>
                        <a class="btn btn-warning btn-small" data-bs-toggle="modal"
                           data-bs-target="#updatePaymentHistoryModal"
                           hx-get="{% url 'payment:load-update-form' paymenthistory.id %}"
                           hx-target="#updatePaymentFormContainer">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td><a class = "btn btn-info btn-small" data-bs-toggle="tooltip" data-bs-placement="top"
                           title="View Stall registration" href=
                                   "{% url 'registration:convener-stall-food-registration-detail' paymenthistory.invoice.stall_registration.id %}"><i class="bi bi-binoculars-fill"></i></a></td>
                </tr>
                {% empty %}
                    <div class="alert alert-info" role="alert">{{ alert_mgr }}</div>
                {% endfor %}
                </tbody>
            </table>
         <!-- Pagination controls -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" hx-get="?page={{ page_obj.previous_page_number }}" hx-target="#payment_history_data" hx-swap="outerHTML">&laquo; Previous</a>
                    </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" hx-get="?page={{ num }}" hx-target="#payment_history_data" hx-swap="outerHTML">{{ num }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" hx-get="?page={{ page_obj.next_page_number }}" hx-target="#payment_history_data" hx-swap="outerHTML">Next &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        {% else %}
            <div class="alert alert-info" role="alert">{{ alert_mgr }}</div>
        {% endif %}
    </div>
    <!-- Update Payment History modal-->
    <div class="modal fade" tabindex="-1" id="updatePaymentHistoryModal" aria-labelledby="updatePaymentHistoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-dark">
                    <h4 class="modal-title">Payment History Update Form</h4>
                    <button  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="updatePaymentFormContainer">
                    <!-- Form will be loaded here by HTMX -->
                </div>
            </div>
        </div>
    </div>
</div>