<!-- templates/accounts/password_reset_from_key.html -->

{% extends 'base.html' %}

{% block body %}


<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h2>
                {% if token_fail %}
                  {% url 'account_reset_password' as passwd_reset_url %}
               <p
                  class="text-white-50 mb-5">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
               </p>
                {% else %}
                  {% if form %}
                  <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Change Password</button>
                  </form>
                {% else %}
                  <p class="text-white-50 mb-5">Your password is now changed.</p>
                {% endif %}
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}




