<!-- templates/account/verification_sent.html -->

{% extends "base.html" %}

{% block body %}
<div class="container">
    <h2>Comfirm Your Email</h2>
    <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If
        you do not see the verification e-mail in your main inbox, check your spam folder. </p>
    <p> Please email the Fair Convener <a href="mailto:convener@martinboroughfair.org.nz">convener
        @martinboroughfair.org.nz</a> if you do not receive the verification e-mail within a few minutes.</p>
    <br>
    <a href="/" class="btn btn-secondary">Close</a>
</div>
{% endblock %}