<!--fairs/templates/siteallocations/siteallocation_list_partial.html -->

{% load static %}

<div id="allocation_data">
    <div class="row g-3">
        {% for siteallocation in page_obj %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Stallholder ID: {{ siteallocation.stallholder.id }} </br> {{ siteallocation.stallholder.first_name }} {{ siteallocation.stallholder.last_name }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Event Name:</strong> {{ siteallocation.event_site.event.event_name }}</li>
                    <li class="list-group-item"><strong>Site:</strong> {{ siteallocation.event_site.site.site_name }}</li>
                    <li class="list-group-item"><strong>Registration:</strong> {{ siteallocation.stall_registration.id | default:"--" }}</li>
                    <li class="list-group-item"><strong>Power:</strong> {{ siteallocation.event_power.power_box.power_box_name | default:"--" }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'fair:siteallocation-detail' siteallocation.id %}" class="btn btn-primary">
                        View and edit Site Allocation Detail
                    </a>
                    <a class = "btn btn-danger" hx-delete="{% url 'fair:siteallocation-remove' siteallocation.id %}" hx-target="#allocation_data" hx-confirm="Are you sure you wish to delete?"><i class="bi bi-trash-fill"></i></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info" role="alert">{{ alert_mgr }}</div>
        {% endfor %}
    </div>
    <div class="">
                {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a  href="?page={{ page_obj.previous_page_number }}"><span><i class="bi bi-chevron-left"></i></span></a></li>
                    {% else %}
                        <li class="disabled"><span><i class="bi bi-chevron-left"></i></span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span class="pagination-number pagination-current">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a class="pagination-number" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}"><span><i class="bi bi-chevron-right"></i></span></a></li>
                    {% else %}
                        <li class="disabled"><span><i class="bi bi-chevron-right"></i></span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
</div>