<!--fairs/templates/siteallocations/siteallocation_list_partial.html -->

{% load static %}
{% load paginator_tags %}

<div id="list_data">
    <div class="row g-3">
        {% for siteallocation in allocation_list %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Stallholder ID: {{ siteallocation.stallholder.id }} </br> {{ siteallocation.stallholder.first_name }} {{ siteallocation.stallholder.last_name }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Event Name:</strong> {{ siteallocation.event_site.event.event_name }}</li>
                    <li class="list-group-item"><strong>Site:</strong> {{ siteallocation.event_site.site.site_name }}</li>
                    <li class="list-group-item"><strong>Site Size:</strong> {{ siteallocation.event_site.site.site_size.item_name }}</li>
                    <li class="list-group-item"><strong>Registration ID:</strong> {{ siteallocation.stall_registration.id | default:"--" }}</li>
                    <li class="list-group-item"><strong>Stall Category:</strong> {{ siteallocation.stall_registration.stall_category | default:"--" }}</li>
                    <li class="list-group-item"><strong>Power:</strong> {{ siteallocation.event_power.power_box.power_box_name | default:"--" }}</li>
                    <li class="list-group-item"><strong>On Hold:</strong> {{ siteallocation.on_hold|yesno }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'fair:siteallocation-detail' siteallocation.id %}" class="btn btn-primary">
                        View and edit Site Allocation Detail
                    </a>
                    <a class = "btn btn-danger" hx-delete="{% url 'fair:siteallocation-remove' siteallocation.id %}" hx-target="#list_data" hx-confirm="Are you sure you wish to delete?"><i class="bi bi-trash-fill"></i></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info" role="alert">{{ alert_mgr }}</div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% if allocation_list.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if allocation_list.has_previous %}
                <li class="page-item"><a class="page-link"
                                         hx-get="{% url 'fair:siteallocation-list' %}?page={{ allocation_list.previous_page_number }}" hx-trigger="click" hx-target="#list_data">&laquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_range|default_if_none:allocation_list.paginator.get_elided_page_range %}
                {% if allocation_list.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    {% if i == allocation_list.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" hx-get="{% url 'fair:siteallocation-list' %}?page={{ i }}" hx-trigger="click" hx-target="#list_data">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if allocation_list.has_next %}
                <li class="page-item"><a class="page-link"
                                         hx-get="{% url 'fair:siteallocation-list' %}?page={{ allocation_list.next_page_number }}" hx-trigger="click" hx-target="#list_data">&raquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>