<!--fairs/templates/siteallocations/siteallocation_create.html -->

{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container" >
  <div class="row">
    <h4>Create Site Allocation</h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% include 'siteallocations/siteallocation_filter_partial.html' %}
      {% include 'siteallocations/stallholder_partial.html' %}
      <hr>
      {% include 'siteallocations/siteallocation_partial.html' %}
    </div>
    <div class="col-md-6">
      {% include 'search/partials/create_stallholders_siteallocations.html' %}
    </div>
  </div>
</div>

{% endblock %}
