/accounts/__pycache__/
/config/__pycache__/
/fairs/__pycache__/
/pages/__pycache__/
/registration/__pycache__/
/staticfiles/
/media/
/venv/
/utils/migrate_history.py
.kdev4
.env
requirements_orig.txt
clean_yaml.py
config/env.dist
FairSystemProject.kdev4
FairSystemProject.sublime-project
FairSystemProject.sublime-workspace
/logs/
/.idea/dbnavigator.xml
/.idea/FairSystemProject.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
