/accounts/__pycache__/
/config/__pycache__/
/fairs/__pycache__/
/pages/__pycache__/
/registration/__pycache__/
.kdev4
/fairs/migrations/
/accounts/migrations/
/registration/migrations/
FairSystemProject.kdev4
FairSystemProject.sublime-project
FairSystemProject.sublime-workspace
/logs/
/media/
/.idea/dbnavigator.xml
/.idea/FairSystemProject.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
