aioquic==0.9.25
aniso8601==9.0.1
ansible==8.5.0
ansible-compat==4.1.2
ansible-core==2.15.6
ansible-lint==6.17.1
anyio==4.4.0
appdirs==1.4.4
argcomplete==3.3.0
asgiref==3.8.1
astroid==3.2.2
asttokens==2.4.1
async-generator==1.10
attrs==23.2.0
Babel==2.14.0
bandit==1.7.8
black==24.4.2
bottleneck==1.3.8
bracex==2.4
brotli==1.1.0
CacheControl==0.14.0
cairocffi==1.4.0
cairosvg==2.7.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
configobj==5.0.8
cryptography==42.0.7
cssselect==1.2.0
cssselect2==0.7.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
django==4.2.13
django-allauth==0.63.3
django-environ==0.11.2
django-extensions==3.2.3
django-fsm-2==3.0.0
django-htmx==1.17.3
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
dnspython==2.6.1
et-xmlfile==1.1.0
evdev==1.7.0
exceptiongroup==1.2.1
executing==2.0.1
factory-boy==3.3.0
Faker==15.1.1
filelock==3.14.0
flake8==7.0.0
fonttools==4.51.0
fpdf==1.7.2
fs==2.4.16
gitdb==4.0.11
GitPython==3.1.30
graphene==3.2.2
graphql-core==3.2.3
graphql-relay==3.2.0
graphviz==0.10.1
greenlet==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
hyperframe==6.0.0
idna==3.7
importlib-metadata==7.1.0
importlib-resources==6.4.0
ipython==8.18.1
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
lxml==4.9.3
markdown==3.5.2
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.0.8
mypy-extensions==1.0.0
numexpr==2.9.0
numpy==1.25.0
odfpy==1.4.1
olefile==0.46
openpyxl==3.1.1
outcome==1.3.0.post0
packaging==24.0
pandas==2.0.3
parso==0.8.3
pathspec==0.12.1
patsy==0.5.6
pbr==6.0.0
pexpect==4.9.0
phonenumbers==8.13.28
pillow==10.3.0
platformdirs==4.2.2
ply==3.11
progress==1.6
promise==2.3
prompt-toolkit==3.0.45
psutil==5.9.8
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==24.4.0
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycairo==1.21.0
pycodestyle==2.11.1
pycparser==2.22
pydyf==0.9.0
pyenchant==3.2.2
pyflakes==3.2.0
pygments==2.17.2
PyGObject==3.42.2
pylint==3.2.2
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pylsqpack==0.3.18
pynvim==0.4.3
pyOpenSSL==23.2.0
pyphen==0.15.0
PyQt-builder==1.15.4
PyQt5==5.15.10
PyQt5-sip==12.13.0
pysocks==1.7.1
python-dateutil==2.9.0
python-jsonrpc-server==0.4.0
python-magic==0.4.27
pytz==2024.1
pyudev==0.24.1
pyxdg==0.28
PyYAML==6.0.1
ranger-fm==1.9.3
referencing==0.35.1
regex==2023.10.3
requests==2.32.3
resolvelib==0.8.1
rich==13.7.1
rpds-py==0.13.2
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
SciPy==1.11.1
scour==0.38.2
selenium==4.12.0
service-identity==24.1.0
simpy==3.0.13
sip==6.8.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
sqlite3==0.0.0
sqlparse==0.5.0
stack-data==0.6.3
statsmodels==0.14.1
stevedore==5.1.0
subprocess-tee==0.4.1
terminator==2.1.3
text-unidecode==1.3
tinycss2==1.3.0
Tkinter==0.0.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.5
tqdm==4.66.4
traitlets==5.14.3
trio==0.25.1
trio-websocket==0.11.1
typing_extensions==4.12.1
tzdata==2024.1
ujson==5.9.0
unicodedata2==15.1.0
urllib3==1.26.18
wcmatch==8.5.2
wcwidth==0.2.8
weasyprint==61.2
webencodings==0.5.1
werkzeug==3.0.3
wsproto==1.2.0
xcffib==0.11.1
xmltodict==0.13.0
yamllint==1.35.1
yq==3.4.3
zim==0.75.2
zipp==3.19.1
zopfli==0.2.3
