<!-- fairs/templates/locations/location_list.html -->

{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>Locations</h1>
    <form action='actionUrl' method='GET'>
        <button class='btn btn-primary' data-toggle='button' type='submit'>Add a new location</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
    </form>

    {% for location in location_list %}
    <div class="container mt-3" style="width: 600px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ location.location_name }}</h4>
                <p class="card-text">
                </p>
                <a href="{% url 'fair:location-detail' location.id %}" class="btn btn-primary">
                    View and edit Location Detail
                </a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-info" role="alert">There are no Locations created yet.</div>
    {% endfor %}
</div>
{% endblock %}
