<!-- fairs/templates/sites/site_list_partial.html -->


{% load static %}
{% load paginator_tags %}

<div id="site_data">
    <div class="row g-3 ">
        {% for site in site_list %}
        <div class="col-12 col-md-6 col-lg-4">
            {% if site.is_active %}
            <div class="card border border-2 border-success mb-3" style="max-width: 18rem;">
            {% else %}
            <div class="card border border-2 border-danger mb-3" style="max-width: 18rem;">
            {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ site.site_name }}</h4>
                    <p class="card-text">
                        <ul class="list-group list-group-flush">
                            {% if site.updated_by %}
                                <li class="list-group-item">Date updated: {{ site.date_updated|date:'Y-m-d H:i' }}</li>
                            {% else %}
                                <li class="list-group-item">Date created: {{ site.date_created|date:'Y-m-d H:i' }}</li>
                            {% endif %}
                            <li class="list-group-item">Site Size: {{ site.site_size }}</li>
                            <li class="list-group-item">Note: {{ site.site_note }}</li>
                            <li class="list-group-item">Active Site : {{site.is_active|yesno|title }}</li>
                          </ul>
                    </p>
                    <a href="{% url 'fair:site-detail' site.id %}" class="btn btn-primary">
                        View and edit Site Detail
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info" role="alert">{{ alert_mgr }}</div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    {% if site_list.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if site_list.has_previous %}
            <li class="page-item"><a class="page-link"  hx-get="{% url 'fair:site-list' %}?page={{ site_list.previous_page_number }}" hx-trigger="click" hx-target="#site_data">&laquo;</a></li>
            {% else %}
            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_range|default_if_none:site_list.paginator.get_elided_page_range %}
            {% if site_list.number == i %}
            <li class="active page-item"><span class="page-link">{{ i }} </span>
            </li>
            {% else %}
            {% if i == site_list.paginator.ELLIPSIS %}
            <li class="page-item"><span class="page-link">{{ i }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" hx-get="{% url 'fair:site-list' %}?page={{ i }}" hx-trigger="click" hx-target="#site_data">{{ i }}</a></li>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if site_list.has_next %}
            <li class="page-item"><a class="page-link" hx-get="{% url 'fair:site-list' %}?page={{ site_list.next_page_number }}" hx-trigger="click" hx-target="#site_data">&raquo;</a></li>
            {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

