<!-- fairs/templates/sites/site_list.html -->

{% extends 'base.html' %}
{% load paginator_tags %}

{% block body %}
<div class="container " xmlns="http://www.w3.org/1999/html">
    <div class="row g-3">
        <h1>Sites</h1>
        <div class="row">
            <div class="col-md-6">
                {% include 'sites/site_filter_partial.html' %}
            </div>
        </div>
        <form action='actionUrl' method='GET'>
            <button class='btn btn-primary' data-toggle='button' type='submit'>Add a new site</button>
            <a type="button" class="btn btn-secondary" href="javascript:window.history.back()">Cancel</a>
        </form>
    </div>
    {% include 'sites/site_list_partial.html' %}
</div>
{% endblock %}
