<!-- fairs/templates/inventoryitemfairs/inventoryitemfair_list.html -->

{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>Inventory Item Pricing</h1>
    <form action='actionUrl' method='GET'>
        <button class='btn btn-primary' data-toggle='button' type='submit'>Add a new inventory item price</button>
        <a type="button" class="btn btn-secondary" href="javascript:window.history.back()">Cancel</a>
    </form>

    {% for inventoryitemfair in inventoryitemfair_list %}
    <div class="container mt-3" style="width: 600px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ inventoryitemfair.inventory_item }}</h4>
                <p class="card-text">
                    Price for {{ inventoryitemfair.fair }} is: ${{ inventoryitemfair.price}}
                </p>
                <a href="{% url 'fair:inventoryitemfair-detail' inventoryitemfair.id %}" class="btn btn-primary">
                    View and edit Inventory Item Fair Detail
                </a>
            </div>
        </div>
    </div>
    {% empty %}
        <div class="alert alert-info" role="alert">There are no Inventory Fair Prices created yet.</div>
    {% endfor %}
</div>
{% endblock %}
