<!-- faq/templates/faq_list.html -->

{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>FAQ</h1>
    <form action='actionUrl' method='GET'>
        <button class='btn btn-primary' data-toggle='button' type='submit'>Add a new FAQ</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
    </form>

    {% for faq in faq_list %}
    <div class="container mt-3" style="width: 600px;">
        <div class="accordion accordianFaq">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{ faq.id }}">
              <button class="accordion-button " type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse-{{ faq.id }}" aria-expanded="true"
                      aria-controls="collapse-{{ faq.id }}">{{ faq.question }}</button>
            </h2>
            <div id="collapse-{{ faq.id }}" class="accordion-collapse collapse "
                 aria-labelledby="heading-{{ faq.id }}" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                 {{ faq.answer }}
              </div>
            </div>
          </div>
        </div>
        {% if user.role == 2 %}
            <a href="{% url 'faq:faq-detail' faq.id %}" class="btn btn-primary">
                View and edit FAQ Detail
            </a>
        {% endif %}
    </div>
    {% empty %}
    <div class="alert alert-info" role="alert">There are no FAQ's created yet.</div>
    {% endfor %}
</div>
{% endblock %}
