/*  static/css/homepage.css */

hr:not([size]) {
  line-height: 0.1em;
  height: 2px;
  color: #005daa;  /* Rotary Azure */
  border-bottom: 1px solid #005daa;  /* Rotary Azure */
}

.logo{
    margin: 0px 40px;
}

.navbar-inverse {`
    padding: 20px;
    color: white;
}
:weight
ul.errorlist {
    color: red;
    font-weight: bold;
}
.rotary_orange{
    color: #ff7600;
}
.rotary_gold {
    color: #fedb11;
}
.rotary_azure {
    color: #005daa;
}
.rotary_royalblue{
    color: #00246c;
}

/* Login Form */

.form-outline
    {
        margin: 0 auto;
    }
.form-outline label
    {
        /* tweak to taste */
        float: left;
        width: 51%;
    }
 .form-outline input
    {
        /* tweak to taste */
        width: 49%;
    }

/* Dashboard  */
.h5, h5 {
    font-size: 1.07rem;
}
.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: white;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}

/* Cards */

main .card {
  margin-bottom: 20px;
}

/* Percentage Circle  */
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 75%;
  justify-content: space-around ;
  margin-left: auto;
  margin-right: auto;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 750px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.red .circle {
  stroke: #dc143c;
}

.circular-chart.orange .circle {
  stroke: #ffa500;
}

.circular-chart.green .circle {
  stroke: #008000;
}

.circular-chart.blue .circle {
  stroke: #00bfff;
}

.percentage {
  fill: #FFFFFF;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

/* For text in lines */

.title-hr {
  width: 100%;
  vertical-align: middle;
  align-items: center;
  text-align: start;
  display: flex;
}

.title-hr>span {
  padding: 0 0.4em;
  font-size: 1.2em;
  /* color: #00246c  Rotary Royal Blue */
  color: #005daa  /* Rotary Azure */
}

.title-hr>.hr {
  border-bottom: 1px solid #005daa;  /* Rotary Azure */
  line-height: 0.1em;
  color: #005daa  /* Rotary Azure */
  margin: 0.34em 0 0.35em;
  flex: 1 1 auto;
}

.title-hr>.hr.fix {
  flex: 0 1 auto;
  color: #005daa  /* Rotary Azure */
}

/*  Login Screen */

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.eye-icon {
    color: black;
    margin-left: -22px;
    cursor: pointer;
}

/* Form errorlist */

ul li::marker {
  color: red;
}

ul .errorlist li {
  color: red;
}

/* Comments Style */

body {
    background-color: #eee;
}

a {
    text-decoration:none;
    color:black;
    font-weight:bold;
 }

.card {
    background-color: #fff;
    border: none;
}

.form-color {
    background-color: #fafafa;
}

.form-control {
    height: 48px;
    border-radius: 25px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
    text-indent: 10px;
}

.c-badge {
    background-color: #35b69f;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-left: 10px;
}

.comment-text {
    font-size: 13px;
}

.reply-icon {
    cursor: pointer;
}

.archive-icon {
    cursor: pointer;
}

.modal-footer {
  .btn + .btn {
    margin-top: 0;
  }
}

.user-feed {
    font-size: 14px;
    margin-top: 12px;
}

/* Activities Dashboard */

.stepper {
  .line {
    width: 2px;
    background-color: lightgrey !important;
  }
  .lead {
    font-size: 1.1rem;
  }
}
