/*  static/css/homepage.css */

.logo{
    margin: 0px 50px;
}

.navbar-inverse {`
    padding: 20px;
    color: white;
}
:weight
ul.errorlist {
    color: red;
    font-weight: bold;
}
.rotary_orange{
    color: #ff7600;
}
.rotary_gold {
    color: #fedb11;
}
.rotary_azure {
    color: #005daa;
}
.rotary_royalblue{
    color: #00246c;
}

/* Dashboard  */
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}

.left-sidebar {
  position: sticky;
  top:0;
  height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
  color: #333;
  font-weight: 500;
}

main .card {
  margin-bottom: 20px;
}
