/*  static/css/homepage.css */

.logo{
    margin: 0px 50px;
}
ul.errorlist {
    color: red;
    font-weight: bold;
}
.rotary_orange{
    color: #ff7600;
}
.rotary_gold {
    color: #fedb11;
}
.rotary_azure {
    color: #005daa;
}
.rotary_royalblue{
    color: #00246c;
}