<!-- fairs/templates/event/event_list.html -->

{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Events</h1>
    <form action='actionUrl' method='GET'>
        <button class='btn btn-primary' data-toggle='button' type='submit'>Add a new Event</button>
        <a type="button" class="btn btn-secondary" href="javascript:window.history.back()">Cancel</a>
    </form>
    {% for event in event_list %}
    <div class="container mt-3" style="width: 600px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {{ event.event_name }}</h4>
                <p class="card-text">
                    Date created: {{ event.date_created|date:'Y-m-d H:i' }}
                </p>
                <a href="{% url 'fair:event-detail' event.id %}" class="btn btn-primary">
                    View and edit Event Detail
                </a>
            </div>
        </div>
    </div>
    {% empty %}
        <div class="alert alert-info" role="alert">There are no fair events active yet.</div>
{% endfor %}
</div>
{% endblock %}