<!--registration/templates/stallregistration/equipment_inline_partial.html -->

<div id='equipment-list'>
    <div id="equipment-{{ equipment.id}}">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Quantity</th>
              <th scope="col">Name</th>
              <th scope="col">Powered</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for equipment in equipment_list %}
            <tr>
              <td>{{ equipment.equipment_quantity }}</td>
              <td>{{ equipment.food_prep_equipment.equipment_name }}</td>
              <td>{{ equipment.get_how_powered_display }}</td>
              <td><a class = "btn btn-danger" hx-post= '{{ equipment.get_delete_url }}' hx-confirm='Are you sure you wish to delete?' hx-trigger='click' href='{{ equipment.get_delete_url }}'
               hx-target='#equipment-list' ><i class="bi bi-trash-fill"></i></a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>
