<!--registration/templates/stallregistration/food_registration.html -->

{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
  <div class="px-5 my-5 text-center">
    <h1>Edit Food Registration</h1>
    </div>
    <form method="post" >
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="mt-2 btn btn-primary" value="Save" >
      <input type="button" class="mt-2 ms-4 btn btn-secondary" onclick="location.href='../myfair'" value="Cancel" >
    </form>
</div>
<script src="{% static 'js/food_registration_hide.js' %}"></script>
{% endblock %}

