<!--registration/templates/stallregistration/stallregistration_create.html -->

{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">

  <div class="row">
    <h4>Create Fair Stall Application for {{ user.first_name }} {{ user.last_name }}</h4>
    <h6>{{ stallregistration.get_booking_status_display }}</h6>

    <div id="registration_data">
      {% if allocation_item %}
        <div class="alert alert-primary">
          The {{ allocation_item.event_site.site.site_size }}
          - {{ allocation_item.event_site.site.site_name }}
          - for the {{ allocation_item.event_site.event.fair.fair_name }}
          has been allocated to you based on your historical use.
          <br>
          Leave a site move request with reasons in Comments if you want this changed.
        </div>
      {% else %}
        <div class="alert alert-primary">
          You have not been pre-allocated a stall site.
          If you have any location preferences please detail these in Comments.
        </div>
        <hr>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="toast show align-items-center text-white bg-primary border-0">
      <div class="d-flex">
        <div class="toast-body">
          <p>Checkboxes simplify answers and control displayed questions.</p>
          <p>Checked = Yes | Unchecked = No</p>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"></button>
      </div>
    </div>
  </div>

  <div class="row">

    {% if registrationform.non_field_errors %}
      <div class="alert alert-info">
        {{ registrationform.non_field_errors }}
      </div>
    {% endif %}

    <div class="col-md-6">

      <form method="post"
        enctype="multipart/form-data"
        hx-post="."
        hx-encoding="multipart/form-data"
        hx-target="#stallregistration_data"
        hx-swap="outerHTML">

        {% csrf_token %}

        <!-- ========================= -->
        <!-- BASIC DETAILS -->
        <!-- ========================= -->

        <h5 class="mt-3">Stall Details</h5>

        {{ registrationform.fair.label_tag }}
        {{ registrationform.fair }}

        {{ registrationform.stall_manager_name.label_tag }}
        {{ registrationform.stall_manager_name }}

        {{ registrationform.manager_vehicle_registration.label_tag }}
        {{ registrationform.manager_vehicle_registration }}

        {{ registrationform.stall_category.label_tag }}
        {{ registrationform.stall_category }}

        {{ registrationform.stall_description.label_tag }}
        {{ registrationform.stall_description }}

        {{ registrationform.products_on_site.label_tag }}
        {{ registrationform.products_on_site }}

        {{ registrationform.site_size.label_tag }}
        {{ registrationform.site_size }}

        <hr>
        <!-- ========================= -->
        <!-- FOODSTALL DECLARATION -->
        <!-- ========================= -->

        <h5>Food Stalls</h5>
        <div class="form-check mt-2">
          {{ registrationform.selling_food }}
          {{ registrationform.selling_food.label_tag }}
        </div>

        <hr>
        <!-- ========================= -->
        <!-- EQUIPMENT / VEHICLE -->
        <!-- ========================= -->

        <h5>Equipment & Vehicle</h5>

        <div class="form-check">
            {{ registrationform.vehicle_on_site }}
            {{ registrationform.vehicle_on_site.label_tag }}
        </div>

        {{ registrationform.vehicle_length.label_tag }}
        {{ registrationform.vehicle_length }}

        {{ registrationform.vehicle_width.label_tag }}
        {{ registrationform.vehicle_width }}

        {{ registrationform.vehicle_image.label_tag }}
        {{ registrationform.vehicle_image }}

        <hr>

        <!-- ========================= -->
        <!-- OTHER OPTIONS -->
        <!-- ========================= -->
        <h5>Trestle Hire</h5>

        <div class="form-check">
            {{ registrationform.trestle_required }}
            {{ registrationform.trestle_required.label_tag }}
        </div>

        {{ registrationform.trestle_quantity.label_tag }}
        {{ registrationform.trestle_quantity }}

        <hr>
        <h5>Additional Sites</h5>
        <div class="form-check">
            {{ registrationform.multi_site }}
            {{ registrationform.multi_site.label_tag }}
        </div>

        <hr>

        <!-- ===================================== -->
        <!-- HTMX DYNAMIC SECTION (IMPORTANT) -->
        <!-- ===================================== -->

        {% include "stallregistration/stallregistration_dynamic.html" %}


        <input type="submit" name="save_application" class="mt-3 btn btn-primary" value="Save Application">
        <a class="mt-3 ms-4 btn btn-secondary"
           href="javascript:window.history.back()">Cancel</a>

      </form>
    </div>

    <div class="col-md-6">
      <h4>Comments</h4>
      {% include 'stallregistration/registration_comments_filter.html' %}
    </div>

  </div>
</div>

<script src="{% static 'js/stall_registration_hide.js' %}"></script>

{% endblock %}