<!-- registration/templates/stallregistration/stallregistration_detail.html -->

{% extends 'base.html' %}


{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row g-3">
        <h1>Stall Application</h1>
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ stallregistration.fair }} - {{ stallregistration.stallholder}}</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Registraion ID:</strong> {{ stallregistration.id }}</li>
                        <li class="list-group-item"><strong>Stall Category:</strong> {{ stallregistration.stall_category }}</li>
                        <li class="list-group-item"><strong>Site Size:</strong> {{ stallregistration.site_size }}</li>
                        <li class="list-group-item"><strong>Status:</strong> {{ stallregistration.booking_status }}</li>
                        <li class="list-group-item"><strong>Description:</strong> {{ stallregistration.stall_description }}</li>
                    </ul>
                    <div class="title-hr">
                        <span class="hr fix"></span>
                        <span><strong>Current Allocations</strong></span>
                        <span class="hr"></span>
                    </div>
                    <ul>
                        {% for allocation in siteallocations %}
                            {% if allocation.event_site.site.zone.zone_name  %}
                                <li class="list-group-item"><strong>Event:</strong> {{ allocation.event_site.event.event_name }}</li>
                                <li class="list-group-item"><strong>Site Name:</strong> {{ allocation.event_site.site.zone.zone_name }} - {{ allocation.event_site.site.site_name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'fair:stallregistration-move-siteallocation'  stallregistration.id  %}" class="bp-3 mb-2 btn btn-danger">
                            Site Allocation Cancel or Move
                        </a>
                        <a href="{% url 'fair:stallregistration-siteallocation'  stallregistration.id  %}" class="bp-3 mb-2 btn btn-primary">
                            Set Site Allocation
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}