# config/env.dist

# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=False

# Should robots.txt allow everything to be crawled?
ALLOW_ROBOTS=False

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=secret

# Database connection: keep the database connection credentials used in production secret!
DATABASE_NAME='fairsystem_db'
DATABASE_USER='admin'
DATABASE_PASS='XBX@n],[?:XU$:13{"zQPW'

# Connect url
ALLOWED_HOSTS= localhost,127.0.0.1

# A list of all the people who get code error notifications.
ADMIN_LIST ="('Convener', 'convener@martinboroughfair.org.nz')"

# A list of all the people who should get broken link notifications.
MANAGERS="Convener <convener@martinboroughfair.org.nz>"

# By default, Django will send system email from root@localhost.
# However, some mail providers reject all email from this address.
SERVER_EMAIL=convener@martinboroughfair.org.nz

# Stripe setup Test
STRIPE_PUBLISHABLE_KEY_TEST=pk_test_51Gx8cxDczdV9nf4pMCnU9S9aCPJ6n5NvQucSt86TA0QGYsp8MVY6rkYM9xsU6RIq16BLb9sPF3AefHnub1TZ0pby00pjNKs4sF
STRIPE_SECRET_KEY_TEST=sk_test_51Gx8cxDczdV9nf4p41isjuitrzXUeBM01mkUdxsGS6TpjPHeDK0QornUGi1rUTl7GhPz5vXc9mtkFBLDfGs7bQCv00urUWBiLh
STRIPE_WEBHOOK_SECRET_TEST=whsec_Upm2rcYE4sptF8Iks7h3sccamKX14Zig

# Stripe setup Production
STRIPE_PUBLISHABLE_KEY=pk_test_51Gx8cxDczdV9nf4pMCnU9S9aCPJ6n5NvQucSt86TA0QGYsp8MVY6rkYM9xsU6RIq16BLb9sPF3AefHnub1TZ0pby00pjNKs4sF
STRIPE_SECRET_KEY=sk_test_51Gx8cxDczdV9nf4p41isjuitrzXUeBM01mkUdxsGS6TpjPHeDK0QornUGi1rUTl7GhPz5vXc9mtkFBLDfGs7bQCv00urUWBiLh
STRIPE_WEBHOOK_SECRET=whsec_Upm2rcYE4sptF8Iks7h3sccamKX14Zig

# Mailchimp transactional setup

MAILCHIMP_TRANSACTIONAL_API_KEY = '<your mailchimp transactional api key>'
