<!-- fairs/templates/stallregistrations/available_move_sites_partial.html -->

{% load static %}

<div id="site_allocation_data">
    <div class="badge bg-info text-dark text-wrap" style="width: auto;">
        {{ site_filter }}
    </div>
    <hr>
    <div class="row g-3 ">
            {% if site_list %}
            <div  class="table-responsive-lg">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Site</th>
                            <th scope="col">Event</th>
                            <th scope="col">Site Size</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for site in site_list %}
                        <tr>
                            <td><input type="checkbox" class="form-check-input me-2" name="eventsites" value={{ site.id }}>{{ site.site }}</td>
                            <td>{{ site.event }}</td>
                            <td>{{ site.site.site_size }}</td>
                            <td>{{ site.notes }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>