<!-- fairs/templates/stallregistration/siteallocations_filter.html -->

{% extends 'base.html' %}
{% load hasunallocatedsites_tag %}

{% block body %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-4 p-1 my-container active-cont">
    <div class="container">
        <h4>Application Site Allocations</h4>
        <hr>
        <div class="row">
            <!-- Passed om Stallregistration for siteallocation -->
            <div class="col-md-4">
                <div class="title-hr">
                    <span class="hr fix"></span>
                    <span><strong>Stallholder Application Details</strong></span>
                    <span class="hr"></span>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ stallregistration.fair }} - {{ stallregistration.stallholder}}</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Registraion ID:</strong> {{ stallregistration.id }}</li>
                        <li class="list-group-item"><strong>Stall Category:</strong> {{ stallregistration.stall_category }}</li>
                        <li class="list-group-item"><strong>Site Size:</strong> {{ stallregistration.site_size }}</li>
                        <li class="list-group-item"><strong>Status:</strong> {{ stallregistration.booking_status }}</li>
                        <li class="list-group-item"><strong>Description:</strong> {{ stallregistration.stall_description }}</li>
                    </ul>
                    {% for additionalsite in additional_sites_required %}
                    {% if forloop.first %}
                    <div>
                        <div class="title-hr">
                            <span class="hr fix"></span>
                            <span><strong>Additional Site Requirements</strong></span>
                            <span class="hr"></span>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Quantity</th>
                                <th scope="col">Site Size</th>
                                <th scope="col">Location</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% endif %}
                            <tr>
                                <td>{{ additionalsite.site_quantity }}</td>
                                <td>{{ additionalsite.site_size.item_name }}</td>
                                <td>{{ additionalsite.get_location_choice_display }}</td>
                            </tr>
                            {% if forloop.last %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% get_number_unallocated_sites stallregistration.id as number_unallocated_sites %}
                    {% get_has_unallocated_sites stallregistration.id as has_unallocated_sites %}
                    {% if has_unallocated_sites %}
                        <div class="alert alert-danger" role="alert">
                            There are {{ number_unallocated_sites }} unallocated sites that need to be resolved
                        </div>
                    {% endif %}
                    {% for allocation in item.site_allocation.all %}
                    <div class="title-hr">
                        <span class="hr fix"></span>
                        <span><strong>Current Allocations</strong></span>
                        <span class="hr"></span>
                    </div>
                    <ul>
                        {% for allocation in siteallocations %}
                            {% if allocation.event_site.site.zone.zone_name  %}
                                <li class="list-group-item"><strong>Event:</strong> {{ allocation.event_site.event.event_name }}</li>
                                <li class="list-group-item"><strong>Site Name:</strong> {{ allocation.event_site.site.zone.zone_name }} - {{ allocation.event_site.site.site_name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
                <hr>
            </div>
            <div class="col-md-8">
                <form>
                    {% csrf_token %}
                    {{ sitefilterform.as_p }}
                </form>
                <hr>
                <div class="container mt-5 mb-5">
                    <!-- Results of Site Filter -->
                    {% include 'stallregistrations/available_sites_partial.html' %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

