<!-- fairs/templates/zones/zone_list.html -->

{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container">
    <div class="row g-3">
      <h1>Zones</h1>
        <form action='actionUrl' method='GET'>
            <button class='btn btn-primary' data-toggle='button' type='submit'>Add a new zone</button>
            <a href="/" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    <div class="row g-3">
        {% for zone in zone_list %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ zone.zone_name }}</h4>
                    <p class="card-text">
                        Date created: {{ zone.date_created|date:'Y-m-d H:i' }}
                    </p>
                    <a href="{% url 'fair:zone-detail' zone.id %}" class="btn btn-primary">
                        View and edit Zone Detail
                    </a>
                    <!-- Button view pdf -->
                    <button class="btn btn-info" onclick="location.href='{% url 'fair:view-map' zone.id %}'">View Zone Map</button>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info" role="alert">There are no Zones active yet.</div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
