<!-- fairs/templates/zones/zone_list.html -->

{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container">
  <h1>Zones</h1>
    <form action='actionUrl' method='GET'>
        <button class='btn btn-primary' data-toggle='button' type='submit'>Add a new zone</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
    </form>

    {% for zone in zone_list %}
    <div class="container mt-3" style="width: 600px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ zone.zone_name }}</h4>
                <p class="card-text">
                    Date created: {{ zone.date_created|date:'Y-m-d H:i' }}
                </p>
                <a href="{% url 'fair:zone-detail' zone.id %}" class="btn btn-primary">
                    View and edit Zone Detail
                </a>
                <!-- Button view pdf -->
                <button class="btn btn-info" onclick="location.href='{% url 'fair:view-map' zone.id %}'">View Zone Map</button>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-info" role="alert">There are no Zones active yet.</div>
    {% endfor %}
</div>

{% endblock %}
