<!--templates/usewr_payment/payment_successful.html -->

{% extends 'base.html' %}
{% load static %}

{% block body %}

<body>

  <div class="container home_msg">
    <h2>Payment Successful</h2>
      <p>Thank you for your payment {{ customer.name }}! </p>
      <p>If you have any questions, please let us know using the comments functionality.</p>
    <br>
    <form id="success-form" method="POST"
          action="{% url 'registration:stallregistration-dashboard' %}">
        {% csrf_token %}
        <input type="hidden" name="session_id" value="{{ session_id }}">
        <button class= "btn btn-primary" type="submit">Continue</button>
    </form>
  </div>

</body>

{% endblock %}

