<!-- fairs/templates/eventsites/eventsite_list.html -->

{% extends 'base.html' %}

{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <h1>Event Sites</h1>
    <form action='actionUrl' method='GET'>
        <button class='btn btn-primary' data-toggle='button' type='submit'>Add a new event site</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
    </form>
    </br>
    {% regroup eventsite_list by get_site_status_display as site_status_list %}
    {% for site in site_status_list %}
    <h5 class="rotary_orange">{{ site.grouper }}</h5>
        {% for item in site.list %}
        <div class="container mt-3" style="width: 600px;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ item.event }} - {{ item.site }}</h4>
                    <p class="card-text">
                        Zone: {{ item.site.zone }}
                        </br>
                        Site Size: {{ item.site.site_size }}
                        </br>
                        Status: {{ item.get_site_status_display }}
                    </p>
                    <a href="{% url 'fair:eventsite-detail' item.id %}" class="card-link">
                        View and edit Event Site Detail
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="alert alert-info" role="alert">There are no sites linked with an event yet.</div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
