<!--fairs/templates/eventsites/eventsite_filter_partials.html -->

<div id="replacearea">
  <div class="row">
    <div class="col-md-9">
      <div class="title-hr">
        <span class="hr fix"></span>
        <span><strong>Event, Zone and Status Filters</strong></span>
        <span class="hr"></span>
      </div>
      <form action="." method="post"  hx-post="." hx-target="#event_site_data">
        {% csrf_token %}
        {{ filterform.as_p }}
      </form>
      <form method="POST" action="{% url 'fair:eventsite-list' %}">
        {% csrf_token %}
        <input type="hidden" name="form_purpose" value="clear_filters">
        <button type="submit" class="btn btn-secondary">Clear Filters</button>
      </form>
    <hr>
    </div>
  </div>
</div>