<!-- templates/account/navbar.html -->

{% load static %}
{% url 'notice' as notice_url %}
{% url 'faq' as faq_url %}
{% url 'myfair' as myfair_url %}
{% url 'account_logout' as logout_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logo" src="{% static '/media/SWR_Icon.png' %}" alt="">Martinborough Fair System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'notices:notice-list' %}">Notices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'faq:faq-list' %}">FAQ</a>
        </li>
        {% if user.is_authenticated %}
          {% if 'registration.add_stallregistration' in perms %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.namespace == 'registration' and request.resolver_match.url_name == 'myfair' %} active{% endif %}" href="{% url 'registration:stallregistration-dashboard' %}">My Fair</a>
          </li>
          {% endif %}
        {% if 'fairs.view_fair' in perms %}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fair Maintenance
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'fair:messages-dashboard' %}">Dashboard</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'fair:site-history-update-list' %}">Edit Site History</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'fair:fair-list' %}">Fairs</a></li>
            <li><a class="dropdown-item" href="{% url 'fair:event-list' %}">Events</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'fair:location-list' %}">Locations</a></li>
            <li><a class="dropdown-item" href="{% url 'fair:zone-list' %}">Zones</a></li>
            <li><a class="dropdown-item" href="{% url 'fair:zonemap-create' %}">Add a Zone Map</a></li>
            <li><a class="dropdown-item" href="{% url 'fair:site-list' %}">Sites</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'fair:siteallocation-list' %}">Site Allocations</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'registration:stallregistration-list' %}">Stall Registrations</a></li>
            <li><a class="dropdown-item" href="{% url 'payment:payment-list' %}">Payment History</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'emails:email-list' %}">Email History</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'fair:eventsite-list' %}">Event Sites</a></li>
            <li><a class="dropdown-item" href="{% url 'fair:inventoryitem-list' %}">Inventory Items</a></li>
            <li><a class="dropdown-item" href="{% url 'fair:inventoryitemfair-list' %}">Pricing</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'fair:powerbox-list' %}">Powerboxes</a></li>
            <li><a class="dropdown-item" href="{% url 'fair:eventpower-list' %}">Event Power</a></li>
            <li><a class="dropdown-item" href="{% url 'fair:powerbox-stallregistration-list' %}">Powerbox Siteallocations</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'registration:foodprepequipment-list' %}">Food Preparation Equipment</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'foodlicence:foodlicence-list' %}">Food Licences</a></li>
            <li><a class="dropdown-item" href="{% url 'foodlicence:foodlicence-batch-list' %}">Food Licences Batches</a></li>
            <li><a class="dropdown-item" href="{% url 'registration:foodsaletype-list' %}">Food Sale Type</a></li>
            <li><a class="dropdown-item" href="{% url 'registration:stallcategory-list' %}">Stall Category</a></li>
          </ul>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style = 'color:#febd11'>
            Hi {{ user.first_name }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li> <a class="dropdown-item" href="{% url 'accounts:user-update' %}">Update Profile</a></li>
            <li> <a class="dropdown-item {% if request.path == logout_url %} active {%endif%} " href="{{logout_url}}">Log Out</a></li>
          </ul>
        </li>
        {% else %}
          <span class="navbar-text fw-bolder" style = 'color:#ffc107'>
            You are not logged in
          </span>
          <li class="nav-item">
            <a class="nav-link {% if request.path == login_url %} active {%endif%}" href="{{login_url}}">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == signup_url %} active {%endif%}" href="{{signup_url}}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
