<!-- templates/sidebar.html -->

<!-- custom js -->
<script>
  var menu_btn = document.querySelector("#menu-btn");
  var sidebar = document.querySelector("#sidebar");
  var container = document.querySelector(".my-container");
  menu_btn.addEventListener("click", () => {
    sidebar.classList.toggle("active-nav");
    container.classList.toggle("active-cont");
  });
</script>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Side-Nav -->
        <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
            <ul class="nav flex-column text-black w-200">
                <li href="#" class="nav-link">
                    <i class="bi bi-house"></i>
                    <span class="mx-2">Home</span>
                </li>
                <li><a href="{% url 'fair:site-dashboard' %}" class="nav-link" >
                    <i class="bi bi-bricks"></i>
                    <span class="mx-2">Sites</span></a>
                </li>
                <li href="#" class="nav-link" >
                    <i class="bi bi-file-person"></i>
                    <span class="mx-2">Registrations</span>
                </li>
                <li href="#" class="nav-link" >
                    <i class="bi bi-stack-overflow"></i>
                    <span class="mx-2">Food Licences</span>
                </li>
                <li href="#" class="nav-link" >
                    <i class="bi bi-layout-text-window"></i>
                    <span class="mx-2">Invoices</span>
                </li>
                <li href="#" class="nav-link" >
                    <i class="bi bi-printer"></i>
                    <span class="mx-2">Reports</span>
                </li>
            </ul>
        </div>
    </div>