<!-- templates/sidebar.html -->


<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Side-Nav -->
        <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column hide" id="sidebar">
            <ul class="nav flex-column text-black w-200">
                <li><a href="{% url 'fair:messages-dashboard' %}" class="nav-link" >
                    <i class="bi bi-inbox-fill"></i>
                    <span class="mx-2">Messages</span></a>
                </li>
                <li><a href="{% url 'fair:history-dashboard' %}" class="nav-link" >
                    <i class="bi bi-calendar3"></i>
                    <span class="mx-2">Stallholder History</span></a>
                </li>
                <li><a href="{% url 'fair:setup-dashboard' %}" class="nav-link" >
                    <i class="bi bi-activity"></i>
                    <span class="mx-2">Setup</span></a>
                </li>
                <li><a href="{% url 'fair:site-dashboard' %}" class="nav-link" >
                    <i class="bi bi-bricks"></i>
                    <span class="mx-2">Sites</span></a>
                </li>
                <li><a href="{% url 'fair:registration-dashboard' %}" class="nav-link">
                    <i class="bi bi-file-person"></i>
                    <span class="mx-2">Registrations</span></a>
                </li>
                <li><a href="{% url 'fair:stallregistration-search' %}" class="nav-link">
                    <i class="bi bi-binoculars-fill"></i>
                    <span class="mx-2">Find Stall</span></a>
                </li>
                <li><a href="{% url 'emails:email-dashboard' %}" class="nav-link">
                    <i class="bi bi-file-person"></i>
                    <span class="mx-2">Emails</span></a>
                </li>
                <li><a href="{% url 'fair:sites-without-power' %}" class="nav-link" >
                    <i class="bi bi-power"></i>
                    <span class="mx-2">Unpowered Sites</span></a>
                </li>
                <li><a href="{% url 'fair:powerbox-connections' %}" class="nav-link" >
                    <i class="bi bi-power"></i>
                    <span class="mx-2">Powerbox Connections</span></a>
                </li>
                <li><a href="{% url 'foodlicence:foodlicence-dashboard' %}" class="nav-link" >
                    <i class="bi bi-stack-overflow"></i>
                    <span class="mx-2">Food Licences</span></a>
                </li>
                <li><a href="{% url 'payment:payment-dashboard' %}" class="nav-link" >
                    <i class="bi bi-layout-text-window"></i>
                    <span class="mx-2">Payments</span></a>
                </li>
                <li><a href="#" class="nav-link" >
                    <i class="bi bi-printer"></i>
                    <span class="mx-2">Reports</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>