<!-- templates/myfair_dashboard.html -->

{% extends 'base.html' %}
{% block head %}
<!-- Custom css -->
{% load static %}
<link rel="stylesheet" href="{% static 'registration/css/style.css' %}" type="text/css">
  <title>MyFair</title>
{% endblock %}
{% block body %}
<div class="container" id="registration-list">
  <h1>MyFair Dashboard for  {{ user.first_name }}</h1>
    <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'registration:stallregistration-create' %}'">Register for a fair stall</button>
  <hr>
  <div class="row">
    <div class="col-md-6">
      {% for registration in registrations %}
      <div class="container mt-3" style="width: 600px;">
        <div class="card border-primary mb-3">
          <div class="card-body">
            <h4 class="card-title text-primary">Registration ID - {{ registration.pk }}</h4>
            <ul class="list-group list-group-flush">
              {% for allocation in registration.site_allocation.all %}
                {% if allocation.event_site.site.zone.zone_name  %}
                  <li class="list-group-item"><strong>Site Location:</strong> {{ allocation.event_site.site.zone.zone_name }}</li>
                  <li class="list-group-item"><strong>Site Name:</strong> {{ allocation.event_site.site.site_name }}</li>
                {% else %}
                  <li class="list-group-item"><strong>Site Location:</strong> You have not been allocated a stall site yet.</li>
                {% endif %}
              {% endfor %}
              <li class="list-group-item"><strong>Booking Status:</strong> {{ registration.booking_status }}</li>
              <li class="list-group-item"><strong>Site Size:</strong> {{ registration.site_size }}</li>
              <li class="list-group-item"><strong>Stall Category:</strong> {{ registration.stall_category }}</li>
              <li class="list-group-item"><strong>Stall Description:</strong> {{ registration.stall_description }}</li>
              <li class="list-group-item"><strong>Selling Food:</strong> {{ registration.selling_food|yesno:"Yes,No" }}</li>
              <li class="list-group-item"><strong>Requiring Trestles:</strong> {{ registration.trestle_required|yesno:"Yes,No" }}</li>
              <li class="list-group-item"><strong>Vehicle on Site:</strong> {{ registration.vehicle_on_site|yesno:"Yes,No" }}</li>
              <li class="list-group-item"><strong>Requiring Power:</strong> {{ registration.power_required|yesno:"Yes,No" }}</li>
              <li class="list-group-item"><strong>Total Cost:</strong> ${{ registration.total_charge }}</li>
            </ul>
            <div class="card-body">
              <a href="{% url 'registration:stallregistration-detail' registration.pk %}" class="btn btn-primary">
                View and edit Stall Registration Detail
              </a>
              <a href="#" class="btn btn-success">Submit for payment</a>
              <a class = "btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancel the Stall Registration" hx-delete="{% url 'registration:stallregistration-cancel' registration.pk %}"  hx-confirm="Are you sure you wish to cancel this stallregistration?"><i class="bi bi-trash-fill"></i></a>
            </div>
          </div>
        </div>
        {% empty %}
         <div class="alert alert-info" role="alert">You have no current fair registrations.</div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
            <h4>Comments</h4>
            {% include 'stallregistration/registration_comments_filter.html' %}
    </div>
` </div>
</div>
{% endblock %}
