<!-- templates/myfair_dashboard.html -->

{% extends 'base.html' %}
{% block head %}
<!-- Custom css -->
{% load static %}
{% load hasallocations_tag %}
{% load haspayment_history_tag %}
{% load isinvoiced_tag %}
{% load isfoodstall_tag %}
{% load hasdiscount_tag %}
{% load hasopenapplications_tag %}
{% load hassomethingtopay_tag %}

<link rel="stylesheet" href="{% static 'registration/css/style.css' %}" type="text/css">
  <title>MyFair</title>
{% endblock %}
{% block body %}
<div class="container" id="registration-list">
  <h1>MyFair Dashboard for  {{ user.first_name }}</h1>
    {% has_open_applications as open %}
    {% if open %}
      <button class="btn btn-primary btn-sm"
            onclick="location.href='{% url 'registration:stallregistration-create' %}'">Apply for a fair stall site</button>
    {% else %}
      <div class="alert alert-warning" role="alert">Applications for stall sites are not available yet - try on the 1st October.</div>
    {% endif %}
  <hr>
  <div class="row">
    <div class="col-md-6">
        {% get_has_payment_history user.id as payment_history_result %}
          {% if payment_history_result %}
          {% for payment_history in payment_histories %}
            <div class="container mt-3" style="width: 600px;">
              <div class="card border-primary mb-3">
                <div class="card-body">
                  <h4 class="card-title text-primary">Invoice ID - {{ payment_history.invoice.invoice_number }}-{{ payment_history.invoice.invoice_sequence }}</h4>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Stall Registration ID:</strong> {{ payment_history.invoice.stall_registration.id }}</li>
                    {% get_has_discount payment_history.invoice.stall_registration.id as discount_item_result %}
                    {% if discount_item_result %}
                      {% for discount in discounts %}
                        {% if discount.stall_registration.id  ==  payment_history.invoice.stall_registration.id %}
                         <li class="list-group-item"><strong>Discount:</strong> {{ discount.discount_amount }}</li>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <li class="list-group-item"><strong>Amount to Pay:</strong> {{ payment_history.amount_to_pay }}</li>
                    <li class="list-group-item"><strong>Amount Paid:</strong> {{ payment_history.amount_paid }}</li>
                    <li class="list-group-item"><strong>Payment Status:</strong> {{ payment_history.payment_status }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="d-flex gap-2">
            <a href="{% url 'payment:create-pdf-invoice' payment_history.invoice.id payment_history.invoice.invoice_sequence %}" target="_blank"
               class="btn btn-secondary">View / Download Invoice</a>
            {% get_has_something_to_pay payment_history.id as something_to_pay_result %}
            {% if something_to_pay_result %}
            <form id="stripe-payment-form-{{ payment_history.id }}" action="{% url 'payment:stripe-payment' payment_history.id %}" method="POST" >
              {% csrf_token %}
              <button  type = "submit" class="btn btn-primary" data-bs-toggle="popover" data-bs-trigger="hover"
                    data-bs-placement="left"
                       title="Only credit card payments are available, click button to process the payment by Stripe">Pay Amount Owing</button>
            </form>
              {% endif %}
            </div>
          {% endfor %}
          {% endif %}
      <hr>
      {% for registration in registrations %}
      <div class="container mt-3" style="width: 600px;">
        <div class="card border-primary mb-3">
          <div class="card-body">
            <h4 class="card-title text-primary">Application ID - {{ registration.pk }}</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Booking Status:</strong> {{ registration.booking_status }}</li>
              <hr>
              {% for allocation in registration.site_allocation.all %}
                {% if allocation.event_site.site.zone.zone_name  %}
                  <li class="list-group-item"><strong>Site Location:</strong> {{ allocation.event_site.site.zone.zone_name }}</li>
                  <li class="list-group-item"><strong>Fair Event:</strong> {{ allocation.event_site.event.event_name }}</li>
                  <li class="list-group-item"><strong>Site Size:</strong> {{ allocation.event_site.site.site_size }}</li>
                  <li class="list-group-item"><strong>Site Name:</strong> {{ allocation.event_site.site.site_name }}</li>
                {% else %}
                  <li class="list-group-item"><strong>Site Location:</strong> You have not been allocated a stall site yet.</li>
                {% endif %}
              <hr>
              {% endfor %}
              <li class="list-group-item"><strong>Stall Category:</strong> {{ registration.stall_category }}</li>
              <li class="list-group-item"><strong>Stall Description:</strong> {{ registration.stall_description }}</li>
              <li class="list-group-item"><strong>Selling Food:</strong> {{ registration.selling_food|yesno:"Yes,No" }}</li>
              <li class="list-group-item"><strong>Requiring Trestles:</strong> {{ registration.trestle_required|yesno:"Yes,No" }}</li>
              <li class="list-group-item"><strong>Vehicle on Site:</strong> {{ registration.vehicle_on_site|yesno:"Yes,No" }}</li>
              <li class="list-group-item"><strong>Requiring Power:</strong> {{ registration.power_required|yesno:"Yes,No" }}</li>
              <li class="list-group-item"><strong>Total Cost:</strong> ${{ registration.total_charge }}</li>
            </ul>
            <div class="card-body">
              {% get_is_invoiced registration.id as invoiced %}
              {% get_is_foodstall registration.id as foodstall %}
              {% if not invoiced %}
                <a href="{% url 'registration:stallregistration-detail' registration.pk %}" class="btn btn-primary">
                  View and edit Stall Application Detail
                </a>
              {% elif foodstall %}
                <a href="{% url 'registration:stallholder-stall-food-registration-detail' registration.pk %}" class="btn btn-primary">
                  View Stall Application Detail and update vehicle and Food Certificate details
                </a>
              {% else %}
                <a href="{% url 'registration:stallholder-stall-food-registration-detail' registration.pk %}" class="btn btn-primary">
                  View Stall Application Detail and update vehicle details
                </a>
              {% endif %}
              {% get_is_invoiced registration.id as invoiced %}
              {% if not invoiced and not  registration.booking_status == 'Payment Completed' %}
                {% get_has_site_allocation user.id as result %}
                  {% if result %}
                    <a href="{% url 'registration:stallregistration-invoice' registration.pk %}"
                       class="btn btn-success">Submit for payment</a>
                  {% else %}
                    <a href="{% url 'registration:stallregistration-submit' registration.pk %}" class="btn btn-success">Submit for site allocation</a>
                  {% endif %}
                <a class = "btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancel the Stall Registration" hx-delete="{% url 'registration:stallregistration-cancel' registration.pk %}"  hx-confirm="Are you sure you wish to cancel this stallregistration?"><i class="bi bi-trash-fill"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
        {% empty %}
         <div class="alert alert-info" role="alert">You have no current fair applications.</div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
            <h4>Comments</h4>
            {% include 'stallregistration/registration_comments_filter.html' %}
    </div>
` </div>
</div>
{% endblock %}
