<!DOCTYPE html>
<html>
<head>
    <title>Martinborough Fair - Food Licence Batch Notification</title>
</head>
<body>
    <p>Dear SWDC,</p>
    <br>
    <p>Please find attached the combined PDF document containing the food licence requests for your consideration.</p>
    <p>Batch ID: {{ batch.id }}</p>
    <p>Number of licence requests: {{ batch.batch_count }}</p>
    <br>
    <p>Thank you,</p>
    <br>
    <p>Fair Convener</p>
    <p>South Wairarapa Rotary - Martinborough Fair</p>
</body>
</html>