<!-- foodlicence/templates/foodlicence_list.html -->

{% extends 'base.html' %}
{% load paginator_tags %}
{% load hasfoodlicences_tag %}

{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <h1> Food Licences</h1>
  <div class="row g-3">
      <div class="col-md-6">
          {% include 'foodlicence_filter_partial.html' %}
      </div>
      <div class="col-md-6">
          <div class="title-hr">
              <span class="hr fix"></span>
              <span><strong>Generate Food Licence Batch PDFs </strong></span>
              <span class="hr"></span>
          </div>
          <div>
              <strong>Number of Staged Licences : {% get_number_staged_foodlicences %} </strong>
              <br>
              <p><em>Clicking on PDF generation button will process all the staged foodlicences creating a batch file
                  that will be sent to SWDC for foodlicence approval</em></p>
              <br>
              <div class="d-flex gap-2">
                  <a class = "btn btn-primary " data-bs-toggle="tooltip" data-bs-placement="top"
                     title="Generate batch pdf for SWDC" href="{% url 'foodlicence:licence-batch-generate' %}">Run PDF
                      Generation</a>
                  {% can_generate_multiple_foodlicences as missing_foodlicences_result %}
                  {% if missing_foodlicences_result %}
                    <a href="{% url 'foodlicence:foodlicence-mass-create' %}" class="btn btn-primary">Create Foodlicences</a>
                  {% endif %}
              </div>
          </div>
      </div>
      <hr>
      <form>
          <a href="?clear_filters=true" class="btn btn-warning">Reset Filters</a>
          <a href="javascript:history.go(-1)" class="btn btn-secondary">Cancel</a>
      </form>
      <hr>
  </div>
  <div class="row g-3">
      <div class="col-md-12">
          {% include 'foodlicence_list_partial.html' %}
      </div>
  </div>
</div>
{% endblock %}
