<!-- registration/templates/foodsaletype/foodsaletype_list.html -->

{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>Food Sale Type</h1>
    <form action='actionUrl' method='GET'>
        <button class='btn btn-primary' data-toggle='button' type='submit'>Add a new food sale type</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
    </form>

    {% for foodsaletype in foodsaletype_list %}
    <div class="container mt-3" style="width: 600px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ foodsaletype.food_sale_type }}</h4>
                <p class="card-text">
                    Active State: {{ foodsaletype.is_active }}
                </p>
                <a href="{% url 'registration:foodsaletype-detail' foodsaletype.id %}" class="card-link">
                    View and edit Food Sale Type Detail
                </a>
            </div>
        </div>
    </div>
    {% empty %}
        <div class="alert alert-info" role="alert">There are no Food Sale Type's created yet.</div>
    {% endfor %}
</div>
{% endblock %}
