<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject }}</title>
</head>
<body>
    <h1>{{ subject }}</h1>
    <div style="padding:20px;">
        <p>Hi {{ stallholder.first_name }},</p>
        <br>
        <p>You have been pre-allocated the following site(s)based on your historical usage at the upcoming {{ fair.fair_name }}:</p>

        <ul>
            {% for allocation in allocations %}
                <li>Event and Site : {{ allocation.event_site }}
            {% endfor %}
        </ul>

        <p>Please log into the Martinborough Fair system to secure these site(s) before the end of October to complete the process.</p>
        <p>Your username is your email address - the one this email was sent to. You can use the "Forgot Password" function if you need to reset your password.</p>
        <p>On your 'My Fair' dashboard, click 'Apply for a Fair Stall Site' to create and submit your application for the upcoming fair. Your application will be reviewed by the fair convener. If approved, an invoice will be issued and available to view or download from your My Fair dashboard. Your application will now show INVOICED status.</p>
        <p>Pay by credit card using the Pay Amount Owing button on your dashboard. Once payment is received, your status will change to PAYMENT COMPLETE, and any required Food Licence processing will begin.</p>
        <p>Once your site is allocated and an invoice is issued, payment must be made within 14 days. Late payment may result in losing your allocated site.</p>
        <p>The system includes an internal comments function, and we encourage you to use this for any communications with the Fair Convener regarding special requirements, issues, etc.</p>
        <p>If you are not intending to attend the {{ fair.fair_name }}, please advise the <a href="mailto:convener@martinboroughfair.org.nz">convener</a> by email, or preferably by using the system's comments function, so the site(s) can be released for other stallholders.</p>

        <p><em>Fair Convener</em></p>
    </div>
</body>
</html>
