<!-- fairs/templates/dashboards/dashboard_messages_partial.html -->

<div id="message_data">
    <div class="badge bg-info text-dark text-wrap" style="width: auto;">
        {{ filter }}
    </div>
    <hr>
    {% for comment in page_obj %}
        <div class="w-100">
            {% if comment.is_active %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"> <span class="me-4">{{ comment.created_by }}</span> <small class="badge bg-dark text-white me-4">{{ comment.comment_type }}</small> <i class="bi bi-cart-check-fill text-secondary">Under Action</i> </div> <small>{{ comment.date_created|timesince }} ago</small>
                </div>
            {% elif comment.is_done %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"> <span class="me-4">{{ comment.created_by }}</span> <small class="badge bg-dark text-white me-4">{{ comment.comment_type }}</small> <i class="bi  bi-bookmark-check-fill text-success">Resolved</i> </div> <small>{{ comment.date_created|timesince }} ago</small>
                </div>
            {% else%}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"> <span class="me-4">{{ comment.created_by }}</span> <small class="badge bg-dark text-white me-4">{{ comment.comment_type }}</small> </div> <small>{{ comment.date_created|timesince }} ago</small>
                </div>
            {% endif %}
            {% if comment.is_archived %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"> <span class="badge bg-warning text-dark">This comment has been archived</span></div>
                </div>
            {% endif %}
            <p class="text-justify comment-text mb-0">{{ comment.comment|linebreaks }}</p>

            <!-- If Comment is not archived show Button trigger add reply modal  and archive comment and replies-->
            {% if not comment.is_archived %}
                <div class="d-flex flex-row user-feed">
                    <a class="icon ms-3" href="{% url 'registration:archive' comment.id %}"><span><i class="bi bi-archive-fill text-danger" style="font-size:1.7rem;" ></i>Archive Comment</span></a>
                    <p class="icon ms-3"><i class="bi bi-reply-fill text-primary" style="font-size: 1.7rem;" data-bs-toggle="modal" data-bs-target="#reply-{{ comment.id }}"></i>Reply</p>
                </div>
                {% if comment.is_active %}
                    <div class="d-flex flex-row user-feed">
                        <a class="icon ms-3" href="{% url 'fair:is-done' comment.id %}"><span><i class="bi  bi-bookmark-check-fill text-success" style="font-size:1.7rem;" ></i>Mark as Resolved</span></a>
                    </div>
                {% elif comment.is_done %}
                    <div class="d-flex flex-row user-feed">
                        <a class="icon ms-3" href="{% url 'fair:is-active' comment.id %}"><span><i class="bi bi-cart-check-fill text-secondary" style="font-size:1.7rem;" ></i>Mark as Under Action</span></a>
                    </div>
                {% else %}
                    <div class="d-flex flex-row user-feed">
                        <a class="icon ms-3" href="{% url 'fair:is-active' comment.id %}"><span><i class="bi bi-cart-check-fill text-secondary" style="font-size:1.7rem;" ></i>Mark as Under Action</span></a>
                        <a class="icon ms-3" href="{% url 'fair:is-done' comment.id %}"><span><i class="bi  bi-bookmark-check-fill text-success" style="font-size:1.7rem;" ></i>Mark as Resolved</span></a>
                    </div>
                {% endif %}
            {% endif %}

            {% for reply in comment.replies.all %}
                <div class="d-flex justify-content-between align-items-center">
                {% if reply.convener_only_comment %}
                    <div class="d-flex flex-row align-items-center"> <span class="me-4">Note by {{ reply.created_by }}</span> <small class="badge bg-danger text-white me-4">Convener Note</small> </div> <small>{{ reply.date_created|timesince }} ago</small>
                {% else %}
                    <div class="d-flex flex-row align-items-center"> <span class="me-4">Reply by {{ reply.created_by }}</span>  </div> <small>{{ reply.date_created|timesince }} ago</small>
                {% endif %}
                </div>
                <p class="text-justify comment-text mb-0">{{ reply.comment|linebreaks }}</p>
            {% endfor %}
        </div>
        <hr>
        <!-- Add Reply Modal -->
        <div class="modal fade" id="reply-{{comment.id }}"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reply-{{ comment.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="replycreatelabel">Reply to Comment</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="." method="post">
                            {% csrf_token %}
                            {{ replyform.as_p }}
                            <!-- Hidden input for parent comment.id -->
                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                             <div class="modal-footer">
                                <button type="submit" class="mt-2 btn btn-primary">Save</button>
                                <button type="button" class="mt-2 btn btn-secondary" data-bs-dismiss="modal">Close</button>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% empty %}
            <div class="alert alert-info" role="alert">There are no messages yet.</div>
        {% endfor %}

    <!-- Pagination controls -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       hx-get="{% url 'fair:messages-dashboard' %}?{{ filters_query }}&page={{ page_obj.previous_page_number }}"
                       hx-trigger="click"
                       hx-target="#message_data">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
                {% if page_obj.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    {% if i == page_obj.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               hx-get="{% url 'fair:messages-dashboard' %}?{{ filters_query }}&page={{ i }}"
                               hx-trigger="click"
                               hx-target="#message_data">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       hx-get="{% url 'fair:messages-dashboard' %}?{{ filters_query }}&page={{ page_obj.next_page_number }}"
                       hx-trigger="click"
                       hx-target="#message_data">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
</div>