<!-- fairs/templates/dashboards/dashboard_sites.html -->

{% extends 'dashboard_base.html' %}

{% block body %}

  <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <h3>Sites</h3>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Available Sites</h5>
                    <p class="card-text">{{ available_counts }}</p>
                    <form action='actionUrl' method='GET'>
                      <button class='btn btn-primary' data-toggle='button' type='submit'>View</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Allocated Sites</h5>
                    <p class="card-text">{{ allocated_counts }}</p>
                    <form action='actionUrl' method='GET'>
                      <button class='btn btn-primary' data-toggle='button' type='submit'>View</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Pending Sites</h5>
                    <p class="card-text">{{ pending_counts }}</p>
                    <form action='actionUrl' method='GET'>
                      <button class='btn btn-primary' data-toggle='button' type='submit'>View</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Booked Sites</h5>
                    <p class="card-text">{{ booked_counts }}</p>
                    <form action='actionUrl' method='GET'>
                      <button class='btn btn-primary' data-toggle='button' type='submit'>View</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Unavailable Sites</h5>
                    <p class="card-text">{{ unavailable_counts }}</p>
                    <form action='actionUrl' method='GET'>
                      <button class='btn btn-primary' data-toggle='button' type='submit'>View</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      </div>
   </div>
  </main>
{% endblock %}
