<!-- fairs/templates/dashboards/dashboard_sites.html -->

{% extends 'dashboard_base.html' %}

{% block body %}

<main class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2>Sites Dashboard</h2>
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Filter" >
  </form>
        <div class="row">
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Available Sites</h5>
                <p class="card-text">{{ available_counts }}</p>
                <a class = "btn btn-primary" href="{% url 'fair:eventsite-list' %}" role="button">View</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Allocated Sites</h5>
                <p class="card-text">{{ allocated_counts }}</p>
                <a class = "btn btn-primary" href="{% url 'fair:eventsite-list' %}" role="button">View</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Pending Sites</h5>
                <p class="card-text">{{ pending_counts }}</p>
                <a class = "btn btn-primary" href="{% url 'fair:eventsite-list' %}" role="button">View</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Booked Sites</h5>
                <p class="card-text">{{ booked_counts }}</p>
                <a class = "btn btn-primary" href="{% url 'fair:eventsite-list' %}" role="button">View</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Unavailable Sites</h5>
                <p class="card-text">{{ unavailable_counts }}</p>
                <a class = "btn btn-primary" href="{% url 'fair:eventsite-list' %}" role="button">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
</main>
{% endblock %}
