<!-- fairs/templates/dashboards/dashboard_registrations.html -->

{% extends 'dashboard_base.html' %}

{% block body %}

<main class="col-md-9 ml-sm-auto col-lg-10 px-4 p-1 my-container active-cont">
  <!-- Top Nav -->
  <nav class="navbar top-navbar navbar-light bg-light px-5">
    <a class="btn border-0" id="menu-btn"><i class="bi bi-menu-button"></i></a>
  </nav>
  <!--End Top Nav -->
  <h4>Registration Dashboard</h4>
  <hr>
      <div class="row">
        <div class="col-sm-3">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Filter" >
            <a href="/" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
        <div class="col-sm-9">
          <div class="badge bg-info text-dark text-wrap" style="width: auto;">
            {{ filter }}
          </div>
        </div>
      </div>
  <br>
  <div class="row">
        <div class="col-sm-4">
          <div class="card text-center text-white bg-dark mb-3 w-50 mx-auto">
            <div class="card-body">
              <h5 class="card-title">Selling Food</h5>
              <p class="card-text">{{ selling_food_counts }}</p>
             <!--  <p class="card-text">{% widthratio selling_food_counts total_counts 100 %} %</p> -->
              <div class="single-chart ">
                <svg viewBox="0 0 36 36" class="circular-chart green">
                  <path class="circle-bg"
                    d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <path class="circle"
                    stroke-dasharray="{% widthratio selling_food_counts total_counts 100 %}, 100"
                    d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <text x="18" y="20.35" class="percentage">{% widthratio selling_food_counts total_counts 100 %}%</text>
                </svg>
              </div>
              <a class = "btn btn-primary" href="{% url 'registration:stallregistration-list' %}" role="button">View</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center text-white bg-dark mb-3 w-50 mx-auto">
            <div class="card-body">
              <h5 class="card-title">Created Registrations</h5>
              <p class="card-text">{{ created_counts }}</p>
              <!-- <p class="card-text">{% widthratio created_counts total_counts 100 %} %</p> -->
              <div class="single-chart ">
                <svg viewBox="0 0 36 36" class="circular-chart blue">
                  <path class="circle-bg"
                        d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <path class="circle"
                        stroke-dasharray="{% widthratio created_counts total_counts 100 %}, 100"
                        d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <text x="18" y="20.35" class="percentage">{% widthratio created_counts total_counts 100 %}%</text>
                </svg>
              </div>
              <a class = "btn btn-primary" href="{% url 'registration:stallregistration-list' %}?booking_status='Created'" role="button">View</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center text-white bg-dark mb-3 w-50 mx-auto">
            <div class="card-body">
              <h5 class="card-title">Pending Sites</h5>
              <p class="card-text">{{ submitted_counts }}</p>
              <!-- <p class="card-text">{% widthratio submittee_counts total_counts 100 %} %</p> -->
              <div class="single-chart ">
                <svg viewBox="0 0 36 36" class="circular-chart orange">
                  <path class="circle-bg"
                        d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <path class="circle"
                        stroke-dasharray="{% widthratio submitted_counts total_counts 100 %}, 100"
                        d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <text x="18" y="20.35" class="percentage">{% widthratio submitted_counts total_counts 100 %}%</text>
                </svg>
              </div>
              <a class = "btn btn-primary" href="{% url 'registration:stallregistration-list' %}?booking_status='Submitted'" role="button">View</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card text-center text-white bg-dark mb-3 w-50 mx-auto">
            <div class="card-body">
              <h5 class="card-title">Invoiced Registrations</h5>
              <p class="card-text">{{ invoiced_counts }}</p>
              <!-- <p class="card-text">{% widthratio invoiced_counts total_counts 100 %} %</p> -->
              <div class="single-chart ">
                <svg viewBox="0 0 36 36" class="circular-chart green">
                  <path class="circle-bg"
                        d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <path class="circle"
                        stroke-dasharray="{% widthratio invoiced_counts total_counts 100 %}, 100"
                        d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <text x="18" y="20.35" class="percentage">{% widthratio invoiced_counts total_counts 100 %}%</text>
                </svg>
              </div>
              <a class = "btn btn-primary" href="{% url 'registration:stallregistration-list' %}?booking_status='Invoiced'" role="button">View</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center text-white bg-dark mb-3 w-50 mx-auto">
            <div class="card-body">
              <h5 class="card-title">Booked Registrations</h5>
              <p class="card-text">{{ booked_counts }}</p>
              <!-- <p class="card-text">{% widthratio booked_counts total_counts 100 %} %</p> -->
              <div class="single-chart ">
                <svg viewBox="0 0 36 36" class="circular-chart red">
                  <path class="circle-bg"
                        d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <path class="circle"
                        stroke-dasharray="{% widthratio booked_counts total_counts 100 %}, 100"
                        d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <text x="18" y="20.35" class="percentage">{% widthratio booked_counts total_counts 100 %}%</text>
                </svg>
              </div>
              <a class = "btn btn-primary" href="{% url 'registration:stallregistration-list' %}?booking_status='Booked'" role="button">View</a>
            </div>
          </div>
        </div>
      <div class="col-sm-4">
        <div class="card text-center text-white bg-dark mb-3 w-50 mx-auto">
          <div class="card-body">
            <h5 class="card-title">Cancelled Registrations</h5>
            <p class="card-text">{{ cancelled_counts }}</p>
            <!-- <p class="card-text">{% widthratio cancelled_counts total_counts 100 %} %</p> -->
            <div class="single-chart ">
              <svg viewBox="0 0 36 36" class="circular-chart red">
                <path class="circle-bg"
                      d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <path class="circle"
                      stroke-dasharray="{% widthratio cancelled_counts total_counts 100 %}, 100"
                      d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <text x="18" y="20.35" class="percentage">{% widthratio cancelled_counts total_counts 100 %}%</text>
              </svg>
            </div>
            <a class = "btn btn-primary" href="{% url 'registration:stallregistration-list' %}?booking_status='Cancelled'" role="button">View</a>
          </div>
        </div>
      </div>
      </div>
</main>
</div>
{% endblock %}
